body {
  background-color: #b3d3dd;

  min-height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgb(228, 239, 243);
  border-radius: 10px;

  width: 650px;
  height: 450px;
  padding: 50px 0;
  margin: 60px;

  display: grid;
  place-items: center;
}

hr {
  border-top: 1px solid white;
  width: 320px;
}

label {
  font-size: 13px;
  display: grid;
}

input {
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 5px;

  width: 270px;
  height: 22px;
}

form p {
  display: none;

  font-size: 9px;
  color: red;

  margin-top: 1px;
}

#signup-btn {
  background-color: rgb(138, 138, 138);
  border: none;
  color: white;
  cursor: pointer;

  width: 200px;
  height: 30px;
  margin: 15px 0;
}

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  place-items: center;
}

.modal {
  background-color: white;

  width: 300px;
  border-radius: 5px;
  padding: 10px;
}

.modal-open {
  display: grid;
  place-items: center;
}

.modal-open > h3 {
  text-align: center;
}

.modal-close {
  text-align: right;
}

#modal-open-btn,
#modal-close-btn {
  cursor: pointer;
}
