body {
  background-color: #eaefef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5%;
}

.container > h1 {
  text-align: center;
  margin-bottom: 5%;
}

.container > hr {
  border-top: 1.5px solid rgb(197, 197, 197);
  width: 700px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 600px;
}

#todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form > input {
  width: 500px;
  height: 30px;

  margin: 15px;
}

#todo-form > input::placeholder {
  font-style: italic;
}

.todo {
  display: flex;
  justify-content: space-around;
}

#todo,
#done {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
}

#todo-title,
#done-title {
  font-weight: bold;
  border-bottom: 2px solid #d1d1d1;
  text-align: center;

  margin-bottom: 50px;
}

#todo-todo,
#done-todo {
  height: 300px;
  overflow: auto; /* 컨텐츠 량에 따라 스크롤바를 추가 (height 넘어가면 스크롤바 생김) */
}

#todo-todo .todo-div,
#done-todo .todo-div {
  font-weight: bold;
  border-bottom: 2px solid #d1d1d1;

  display: flex;
  justify-content: space-between;

  width: 170px;
  height: 20px;

  padding-bottom: 10px;
  margin-bottom: 20px;
}

.todo-div > div {
  width: 110px;

  white-space: nowrap; /* 줄바꿈 하지 않게 */
  overflow: hidden;
  text-overflow: ellipsis; /* 글자가 width 넘길경우 생략부호로 표시 */
}

button {
  background-color: #d1dee5;
  color: #4b4b4b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #bbc9d1;
  transform: scale(0.9);
}
