* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 30px;
  width: 100%;
  height: 100vh;
}


.banner {
  display: flex;
  width: 100%;
  height: 10%;
}

.header {
  background-color: #0f1629;
  width: 25%;
  display:grid;
  place-items: center;
}

.menu {
  background-color: #ef3d4d;
  width: 75%;
  display:grid;
  place-items: center;
}

.main-container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "a a a a"
  "a a a a"
  "b b . d"
  "b b . e"
  ;
}

.hero {
  grid-area: a;
  background-color: #4685ca;
  display:grid;
  place-items: center;
}

.main {
  grid-area: b;
  background-color: #24344b;
  display:grid;
  place-items: center;
}

.image {
  grid-area: d;
  background-color: #c1e4e6;
  display:grid;
  place-items: center;
}

.extra {
  grid-area: e;
  background-color: #4dbd97;
  display:grid;
  place-items: center;
}

.footer {
  background-color: #ffd168;
  display:grid;
  place-items: center;
  width: 100%;
  height: 10%;
}