body{
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(36, 31, 70);
}

span{
  display: block;
}

.container{
  display: flex;
  width: 100%;
  margin: 25px 60px;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.row{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* border: 2px solid rgb(255, 255, 255); */
  /* background-color: rgb(135, 120, 184) !important; */
  flex-direction: row; 
  gap:10px;
  width:90%;
}

.item{
  display: flex;
  flex-direction: column;
  background-color: rgb(70, 59, 130);
  /* border: 1px solid rgb(211, 197, 255); */
  width: 200px;
  height: 300px;
  /* align-items: center; */
  justify-content: center;
  /* row-gap: 10px; */
}

.item label{
  font-size: 10px;
  padding-top: -10px;
}

.item img{
  width: 150px;
  height: 180px;
}

.item .titleVote{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around;
  gap:10px; */
  color: ivory;
  width: 80%;
  height: 120px;
}

.titleVote span{
  font-size: 14px;
  width: 70%;
  margin: 50px 0 40px 0;
  margin-left: 10px;
}

.titleVote p{
  width: 20%;
  margin: auto;
}

.itemDescription{
  /* 사이즈는 movieItem과 그대로 맞추고, position을 absolute로 두어서 모달의 역할 수행 */
  width: 150px;
  height: 300px;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.7);

  border: 2px solid rgb(124, 105, 207);
  display: inline;

  overflow-y: auto;
  text-overflow: ellipsis;
}

.itemDescription::-webkit-scrollbar {
  /* 스크롤 바의 너비 */
  width: 5px; 
}

.itemDescription::-webkit-scrollbar-thumb {
  /* 스크롤 바 색상 */
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 4px; 
}

.itemDescription::-webkit-scrollbar-thumb:hover {
  /* 스크롤 바 호버 시 색상 */
  background-color: rgba(255, 255, 255, 0.7); 
}

.itemDescription span{
  font-size: 10px;
  font-weight: 500;
  color: rgb(233, 232, 255);
  padding: 15px;
  /* word-break:break-word; */
}

