.page {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22264c;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.movielist {
  color: white;
  background-color: #373b69;
  border: none;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 370px;
  margin-bottom: 20px;
  box-sizing: border-box; /* padding과 border를 너비에 포함 */
}

.movie-overview {
  display: none; /* 기본적으로 숨김 */
}

.movie-overview::-webkit-scrollbar {   /* 스크롤바 없애줌 */
  display: none;
}


.movielist:hover .movie-overview { /* 마우스 호버 시 */
  display: block;
  padding: 20px;
  max-height: 300px;
  overflow-y: auto; 
  -ms-overflow-style: none;  /* scrollbar 없애줌 */
  opacity: 0.8;
}

.content {
  display: flex;
  width: 100%;
  margin: 15px; /* 제목 상하 여백 */
}

.movielist img {
  width: 100%;
  height: 270px;
}

.movielist h2 {
  font-size: 15px;
  width: 80%;   /* 80%는 제목 */
  margin: 5px 10px 5px 8px;
}

.avg {
  width: 20%;   /* 20%는 평점 */
  margin: 4px 15px 4px 5px;
}