* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eaefef;

  width: 100%;
  height: 500vh;
}

.container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 21vh;

  margin: 26px;
}

.container > hr {
  border-top: 1.5px solid rgb(197, 197, 197);
  width: 700px;
  margin: -20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 42px;
}

.list {
  width: 100%;
  height: 100%;
  gap: 250px;

  display: flex;
  justify-content: space-around;

  padding: 15px;
}

.todo,
.done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
}

.todo-input {
  width: 510px;
  height: 38px;
  padding: 8px;
}

.todo-input::placeholder {
  font-style: italic;
}

.todo-input:hover {
  border: 1px solid blue;
  border-radius: 3px;
}

.todo-input:focus {
  outline: none;
  border: 1px solid blue;
  border-radius: 3px;
}

.todo > hr {
  border-top: 1.5px solid rgb(197, 197, 197);
  width: 60px;
}

.done > hr {
  border-top: 1.5px solid rgb(197, 197, 197);
  width: 50px;
}

.todo-items,
.done-items {
  height: 100%;
  word-break: break-all;
}

.todo-items div,
.done-items div {
  font-weight: bold;
  border-bottom: 2px solid #d1d1d1;

  display: flex;
  justify-content: space-between;

  width: 150px;

  padding-bottom: 10px;
  margin: 30px;
}

button {
  background-color: #d0dee5;
  color: #4b4b4b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
