* {
  box-sizing: border-box;
  margin: 0;
}

.CONTAINER {
  width: 100%;
  height: 100vh;

  font-size: 25px;
  color: white;
}

.bar {
  width: 100%;
  height: 10%;
  display: flex;
}

.HEADER {
  width: 25%;
  background-color: #0f1629;
  display: grid;
  place-items: center;
}

.MENU {
  width: 75%;
  background-color: #ee3d4d;
  display: grid;
  place-items: center;
}

.CONTENT {
  display: grid;
  width: 100%;
  height: 80%;

  grid-template-columns: repeat(4, 1pr);
  grid-template-areas:
    "a a a a"
    "a a a a"
    "b b c d"
    "b b c e";
}

.HERO {
  background-color: #4c86c6;

  grid-area: a;
  display: grid;
  place-items: center;
}

.MAIN {
  background-color: #23344b;

  grid-area: b;
  display: grid;
  place-items: center;
}

.NONE {
  background-color: white;

  grid-area: c;
  display: grid;
  place-items: center;
}

.IMAGE {
  background-color: #c1e4e5;
  color: black;

  grid-area: d;
  display: grid;
  place-items: center;
}

.EXTRA {
  background-color: #4dbd96;
  color: black;

  grid-area: e;
  display: grid;
  place-items: center;
}

.BANNER {
  background-color: #ffd168;
  color: black;

  width: 100%;
  height: 10%;
  display: grid;
  place-items: center;
}
