body {
  background-color: rgb(214, 240, 250);
  margin: 0 20% 0 20%;
}

button:hover{
  transform: scale(0.9);
  opacity: 0.9;
}

h1 {
  display: block;
  /* margin: 5% 20% 0 10%; */
  margin-left: 11%;
  width: 80%;
  height: 10%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid rgb(200, 210, 210);
}

#todoInput {
  
  margin-top: 20px;
  margin-left: 90px;
  width: 80%;
  height: 30px;
}

#todoInput::placeholder {
  font-style: italic;
}

#labelFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  height: 30px;
}

#labelFlex p {
  margin-left: 200px;
  display:block;
  margin-bottom: 40px; 
  /* width: 100%; */
  border-bottom: 2px solid rgb(148, 181, 182);
  font-weight: bold;
}

#flex {
  width: 900px;
  display: flex;
  justify-content: center;
}

#todoContainer {
  width: 300px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

#todoContainer::-webkit-scrollbar{
  width: 7px;
}
#todoContainer::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #657493;
}
#todoContainer::-webkit-scrollbar-track{
  height: 400px;
  background-color: rgb(214, 240, 250);
}

#completeContainer {
  width: 300px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

#completeContainer::-webkit-scrollbar{
  width: 7px;
}
#completeContainer::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #657493;
}
#completeContainer::-webkit-scrollbar-track{
  background-color: rgb(214, 240, 250);
}

#flex .item {
  width: 100%;
  list-style: none;
  align-items: start;
  margin: 5px 0 0 0;
  padding: 0 12% 0 12%;
}

#flex .item li{
  display: flex;
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(148, 181, 182);
  margin-bottom: 10px;
}

#flex .item span{
  width: 80%;
  justify-content: space-between;
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

#flex .item button{
  width: 25%;
  height: 50%;
  display: block;
  background-color: rgb(101, 160, 162) ;
  margin-left: 30px;
}


