body {
  background-color: rgb(214, 240, 250);
  margin: 0 20% 0 20%;
}


h1 {
  display: block;
  /* margin: 5% 20% 0 10%; */
  margin-left: 11%;
  width: 80%;
  height: 10%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid rgb(200, 210, 210);
}

#todoInput {
  margin-top: 20px;
  margin-left: 100px;
  width: 80%;
  height: 30px;
}

#todoInput::placeholder {
  font-style: italic;
}

#flex {
  display: flex;
  justify-content: space-around;
}

#flex .item {
  list-style: none;
  align-items: start;
  margin: 5px 0 0 0;
  padding: 0 12% 0 12%;
}

#flex .item li{
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(148, 181, 182);
  margin-bottom: 10px;
}

#flex .item span{
  font-weight: bold;
}

#flex .item button{
  display: block;
  background-color: rgb(101, 160, 162) ;
  margin-left: 30px;
}

#flex p {
  display:inline-block;
  margin-left: 30px;
  margin-bottom: 40px; 
  /* width: 100%; */
  border-bottom: 2px solid rgb(148, 181, 182);
  font-weight: bold;
}
