body {
  font-family: 'Arial', sans-serif;
  background-color: #b5d7e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #e2eff4;
  border-radius: 1%;
  padding: 50px;
  width: 630px;
  height: 650px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBox h2 {
  text-align: center;
}

hr {
  border: none; /* 기본 테두리를 제거 */
  height: 1px; 
  background-color: #ffffff;
  width: 70%;
  margin-bottom: 25px; 
}

fieldset{
  border: none;
}

.inputBox {
  text-align: left; /* 입력 상자 내부 텍스트 정렬 */
}

.inputBox label {
  font-size: 15px;
  margin: 0 auto; /* 이거 적용이 왜 안되지 */
  color: #000000;
}

.inputBox input {
  margin-bottom: 0px;
  background: none;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  height: 25px;
  width: 240px;
}

.inputBox input:focus {  /* 입력창 클릭하면 테두리 파란색 */
  outline: none;
  border: 2px solid #2b6eff;
}

.input[type="text"],
.input[type="email"],
.input[type="number"],
.input[type="password"] {
  width: 100%;
  padding: 10px;
}

.hide {
  display: none;
}

.font{
  font-size: 12px;
  color: red;
  background-color: none;
  padding: 1px;
  margin-bottom: 15px;
}

button {
  background-color: #666;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  margin: 10px auto;
}

button:hover {
  background-color: #505050;
}