body {
  background-color: #eaefef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5%;
}

.container > h1 {
  text-align: center;

  margin-bottom: 5%;
}

.container > hr {
  border-bottom: 1.5px solid rgb(197, 197, 197);
  width: 700px;
}

.todo-container,
#todo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  font-style: italic;

  width: 500px;
  height: 30px;

  margin: 15px;
}

.todo {
  display: flex;
  justify-content: space-around;
}

#todo,
#done {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 150px;
}

#todo-title,
#done-title {
  font-weight: bold;
  border-bottom: 2px solid #d1d1d1;
  text-align: center;

  margin-bottom: 50px;
}

#todo-items div,
#done-items div {
  font-weight: bold;
  border-bottom: 2px solid #d1d1d1;

  display: flex;
  justify-content: space-between;

  width: 150px;

  padding-bottom: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #d1dee5;
  color: #4b4b4b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
