.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .welcome-section {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .find-movies-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #0E0F37;
  }
  
  .search-button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-button:hover {
    background-color: #ccc;
  }
  
  .search-button:focus {
    outline: none;
  }
  