body {
  background-color: skyblue;
  /* width: 100%;
  height: 100%; */
}

form {
  background-color: rgb(180, 218, 246);
  margin: 200px auto 72px auto;
  text-align: center;
  width: 60%;
  height: 90%;
  border-radius: 8px;
}

form h1 {
  display: block;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  border-color: white;
  border-style: none;
  border-bottom-style: solid;
}

form label {
  display: block;
}

form input {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(180, 218, 246);
}

form input:focus {
  border: 2px solid aqua;
}

form label {
  margin-top: 20px;
}

form button {
  display: inline-block;
  padding: 5px 60px;
  margin: 30px atuo 0 auto;
  background-color: rgb(120, 120, 120);
  color: white;
  border-radius: 5px;
}

.fail {
  color: rgb(255, 80, 80);
}

.successMessage {
  color: green;
}

#passwordValid {
  margin-bottom: 40px;
}

#modalContainer {
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center;
  margin: 30px;
  padding: 30px 20px 0 30px;
  width: 500px;
  height: 200px;
  background-color: white;
}

#modalContainer button {
  position: relative;
  left: 150px;
  top: 15px;
}

.disappear {
  /* width: 100vw;
  height: 100vw; */
  background-color: rgba(0, 0, 0, 0.4) !important;
  opacity: 0.7;
}

.hide {
  display: none;
}

.highlight{
  position: absolute;
  top: 30%;
  left: 30%;
  text-align: center;
  margin: 30px;
  padding: 30px 20px 0 30px;
  width: 500px;
  height: 200px;
  background-color: white !important;
}