body {
  font-family: sans-serif;
}

.modalContentBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
  width: 320px;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
}

.modalContent p {
  font-size: 16px;
}

.modalCloseButton {
  text-align: right;
}