* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #22254a;
}

.movie-container {
  position: relative;
  width: 190px;
  margin: 15px;
  border-radius: 5px;

  background-color: #373b69;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: lightgray;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.movie-box {
  margin: 20px;
  font-size: 15px;
}

.movie-explain {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}

.movie-container img {
  max-width: 100%;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-info {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  padding: 20px;
}
