* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #22254a;
}

.movie-container {
  position: relative;
  width: 190px;
  margin: 15px;
  border-radius: 5px;

  background-color: #373b69;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-container:hover {
  display: block;
  filter: brightness(0.3);
}

.movie-container img {
  max-width: 100%;
}

.app-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-info {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  padding: 20px;
}
