*{
    margin:0;
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction:column;
    height:1664px;
    font-size: 50px;
}

.container {
    display:flex;
    flex-direction:row;
    color:white;
    height:15%;
}

.HEADER {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    width:30%;
}

.MENU {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red;
    width:70%;
}

.HERO{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:skyblue;
    color:white;
    height: 15%;
}

.container3{
    display:flex;
    justify-content: space-between;
    height:35%;
    color:white;
}

.MAIN{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #001000;
    width:40%;
}

.container4{
    display:flex;
    flex-direction: column;
    color:black;
    width:30%;
}

.IMAGE{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:lightgreen;
    height:50%;
}

.EXTRA{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:greenyellow;
    height:50%;
}

.BANNER {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 15%;
    text-align: center;
}
