body {
  background-color: #edf1f1;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.container>hr {
  border: 1px solid rgb(165, 164, 164);
  width: 500px;
  margin: 40px auto 10px;
}

input {
  width: 400px;
  height: 35px;
  font-style: italic;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 500px;

  margin-top: 20px;
  font-weight: bold;
}

.todo, .done {
  flex-basis: 50%;
  text-align: center;
}

